/*{}*/
.headerContent {
  display: grid;
  grid-template-columns: 200px 140px;
  justify-content: space-between;
}
.right-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.detailesDays {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
}
.detailesDays > div {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 70px;
  padding: 7px 10px;
  border-radius: 10px;
  box-shadow: 1px 2px 10px lightgray;
}
.highlights {
  margin-bottom: 30px;
}
.detaile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}
.detaile div {
  background-color: lightcoral;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  color: white;
  height: 70px;
}
.degre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
  width: 1 00%;
}
.degre .min {
  color: lightgray;
}
.days .icon .img {
  width: 49px;
  height: 49px;
}
.Cilicuis {
  background-color: black;
  color: white;
  width: 20px;
  height: 20px;
  padding: 4px;
  border-radius: 100%;
}
.f-temp {
  background-color: white;
  color: gray;
  width: 20px;
  height: 20px;
  padding: 4px;
  border-radius: 100%;
  box-shadow: 1px 1px 10px whitesmoke;
}
.profileclass{
  width: 40px;  
  height: 40px;
  object-fit: contain;
  border-radius: 10px;
}