@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: rgb(214, 215, 219);
  display: flex; /* easier centering */
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
}

.mainCard {
  background-color: white;
  width: 1000px;
  height: 490px;
  display: grid;
  grid-template-columns: 1fr 3fr; /* nav fixed width, content fills rest */
  border-radius: 20px;
  box-shadow: 1px 1px 30px lightgray;
}

.nav {
  background-color: rgb(255, 255, 255);
  padding: 20px; /* gives visible height */
  border-radius: 20px 0 0 20px;
}

.content {
  background-color: rgb(247, 246, 249);
  border-radius: 0 20px 20px 0;
  padding: 20px;
}
.navbar {
  display: grid;
  grid-template-columns: 27px 1fr;
  box-shadow: 1px 1px  10px lightgray;
  border-radius: 4px;
}
.imgclass {
  width: 14px;
  height: 14px;
  margin: 0;
}
.searchbutton {
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 6px;
  
}
.searchInput {
  border: none;
  padding-left: 10px;
  background-color: #F0F0F0;
  border-radius: 0 4px 4px 0;
}

.degree{
  font-size: 70px;
  margin: 20px 0;
  margin-bottom: 0;
  letter-spacing: -2px;
  margin-top: 0;
  font-family: 'inter', sans-serif;
}
.p-cilisius{
  font-size: 30px;
  vertical-align: top;
  margin-left: 4px;
  margin-left: 0;
}
.hour{
  color: gray;
}
.day{
  font-weight: 500;
}
