@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: rgb(214, 215, 219);
  display: flex; /* easier centering */
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
}

.mainCard {
  background-color: white;
  width: 1000px;
  height: 550px;
  display: grid;
  grid-template-columns: 1fr 3fr; /* nav fixed width, content fills rest */
  border-radius: 20px;
  box-shadow: 1px 1px 30px lightgray;
}

.nav {
  background-color: rgb(255, 255, 255);
  padding: 20px; /* gives visible height */
  border-radius: 20px 0 0 20px;
}

.content {
  background-color: rgb(247, 246, 249);
  border-radius: 0 20px 20px 0;
  padding: 20px;
}
.navbar {
  display: grid;
  grid-template-columns: 27px 1fr;
  box-shadow: 1px 1px 10px lightgray;
  border-radius: 4px;
}
.imgclass {
  width: 14px;
  height: 14px;
  margin: 0;
}
.searchbutton {
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 6px;
}
.searchInput {
  border: none;
  padding-left: 10px;
  background-color: #f0f0f0;
  border-radius: 0 4px 4px 0;
}

.degree {
  font-size: 70px;
  margin: 20px 0;
  margin-bottom: 0;
  letter-spacing: -2px;
  margin-top: 0;
  font-family: "inter", sans-serif;
}
.p-cilisius {
  font-size: 30px;
  vertical-align: top;
  margin-left: 4px;
  margin-left: 0;
}
.hour {
  color: gray;
  font-size: 14px;
}
.day {
  font-weight: 500;
  font-size: 14px;
}
.separator {
  height: 1px;
  width: 180px;
  background-color: lightgray;
  margin-top: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.theState {
  font-size: 14px;
  color: darkgray;
}
.detaile1 {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  gap: 14px;
}
.detaile2 {
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  gap: 14px;
}
.iconDetailes {
  width: 40px;
  height: 40px;
}
.iconDetailes2 {
  width: 40px;
  height: 40px;
}
.wind {
  width: 40px;
  justify-content: center;
  white-space: nowrap;
  color: darkgray;
  font-size: 14px;
  font-size:small;
}
.city {
  width: 200px;
  height: 70px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.city img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
  display: block;
}

.cityName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
  letter-spacing: 3px;
}
.shadow{
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.4);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
